.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.container-1 {
  margin-top: 3rem;
  margin-left: 12rem;
  display: flex;
}
.container-1 img {
  margin-top: 150px;

  width: 500px;
  height: 300px;
}

.container-1 .text {
  font-family: "Nunito", sans-serif;
}

.container-1 .text {
  margin-left: 8rem;
  margin-top: 3rem;
}

.container-1 .text p {
  margin-top: 2rem;
  margin-right: 20rem;
  font-family: "Josefin Sans", sans-serif;
}

.text h1 {
  color: black;
  margin-top: 10px;
}
