<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
  integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
  crossorigin="anonymous"
/>
<section class="container text-light mt-5 rounded text-center">
  <div class="row justify-content-center">
    <div class="col-md-4 my-4">
      <h1>Contactanos</h1>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-lg-5">
      <form action="#!" class="bg-light rounded p-2 ml-lg-4 p-md-4">
        <input
          type="text"
          class="form-control mb-2"
          id="name"
          placeholder="Nombre"
        />
        <input
          type="email"
          class="form-control mb-2"
          id="email"
          placeholder="Email"
        />
        <textarea
          class="form-control mb-4"
          id="message"
          placeholder="Mensaje"
          rows="3"
        ></textarea>
        <input class="btn btn-primary btn-block" type="submit" value="Enviar" />
      </form>
    </div>
    <div class="col-lg-6 text-center text-lg-left pl-5">
      <h3 class="mb-1 mt-5 mt-lg-0">Dirección</h3>
      <p class="mb-0">Rivadavia 1562</p>
      <p class="mb-0">Capital Federal</p>
      <p>Argentina</p>
      <h3 class="mb-1">Telefono</h3>
      <p>+54 11 1234-9874</p>
      <h3 class="mb-1">Email</h3>
      <p>contactanos@gmail.com</p>
    </div>
  </div>
</section>
